{
    "plugins": [
      ["babel-plugin-module-resolver", {
        "root": ["./src/"],
        "alias": {
            "components": "./src/components",
            "features": "./src/features",
            "infrastructure": "./src/infrastructure",
            "utils": "./utils",
            "assets": "./assets"
        }
      }]
    ]
  }